//content padding
$content-padding-y: 10vh;
$content-padding-x: 5vw;

// global fonts
$font-base-size: 1vw;
$font-base-backup-size: 16px;

// colors
$color-main: #086da9;
$color-alt: #0ad062;
$color-font-main: #ddd;
$color-site-base: #121512;