body {
	background-color: $color-site-base;
}

body * {
	position: relative;
	color: $color-font-main;
}

a {
	text-decoration: none;
}

section {
	background-color: $color-main;
	&.alt {
		background-color: $color-alt;
	}

	.wrap--content {
		padding: $content-padding-y $content-padding-x;
	}
}


@media (min-width: 1025px) {
	.hide--lg {
		display: none !important;
	}
}

@media (min-width: 641px) and (max-width: 1024px) {
	.hide--md {
		display: none !important;
	}
}

@media (max-width: 640px) {
	.hide--sm {
		display: none !important;
	}
}


.btn {
	display: inline-block;
	border: 2px solid transparent;
	border-radius: 4px;
	background-color: $color-flipped;
	transition: color 200ms, border-color 200ms;
	padding: 0.4em 0.8em;
	margin: 1em auto;
	color: invert($color-font-main);
	cursor: pointer;
	a {
		color: invert($color-font-main);
	}
	&:hover, &:active {
		border-color: invert($color-font-main);
		color: #000;
		a {
			color: #000;
		}
	}
}

.container {

    display: inline-table;
    white-space: nowrap;
    width: 100%;

	.half, .third, .quarter {
		white-space: normal;
		display: inline-block;
		vertical-align: top;
	}

	.half {
		width: 50%;
	}

	.third {
		width: 33.3%;
	}

	.quarter {
		width: 25%;
	}

	@media (max-width: 640px) {
		white-space: normal;
		.half, .third, .quarter {
			display: block;
			width: 100%;
		}
	}

}
