body * {
	font-family: 'Josefin Sans', sans-serif;
}

h1,h2 {
	font-weight: 600;
}

h1 {
	font-size: $font-base-backup-size * 6;
	font-size: $font-base-size * 12;
	line-height: 1.3em;
	@media (min-width: 640px) and (max-width: 1024px) {
		font-size: $font-base-backup-size * 4.2;
		font-size: $font-base-size * 8;
	}
	@media (min-width: 1024px) {
		font-size: $font-base-backup-size * 3;
		font-size: $font-base-size * 6;
	}	
}

h2 {
	font-size: $font-base-backup-size * 5;
	font-size: $font-base-size * 8;
	line-height: 1.6em;
	@media (min-width: 640px) and (max-width: 1024px) {
		font-size: $font-base-backup-size * 4;
		font-size: $font-base-size * 5;
	}
	@media (min-width: 1024px) {
		font-size: $font-base-backup-size * 2.5;
		font-size: $font-base-size * 2.5;
	}
}

h3 {
	font-size: $font-base-backup-size * 4;
	font-size: $font-base-size * 6;
	line-height: 1.5em;
	@media (min-width: 640px) and (max-width: 1024px) {
		font-size: $font-base-backup-size * 3.4;
		font-size: $font-base-size * 4;
	}
	@media (min-width: 1024px) {
		font-size: $font-base-backup-size * 2;
		font-size: $font-base-size * 2;
	}
}

h4 {
	font-size: $font-base-backup-size * 3.2;
	font-size: $font-base-size * 5;
	line-height: 1.3em;
	@media (min-width: 640px) and (max-width: 1024px) {
		font-size: $font-base-backup-size * 2.8;
		font-size: $font-base-size * 3.2;
	}
	@media (min-width: 1024px) {
		font-size: $font-base-backup-size * 1.8;
		font-size: $font-base-size * 1.8;
	}
}


a, button, div, li, p, span {
	font-weight: 400;

	font-size: $font-base-backup-size * 1.4;
	font-size: $font-base-size * 4.1;
	line-height: 1.2em;
	@media (min-width: 640px) and (max-width: 1024px) {
		font-size: $font-base-backup-size * 1.2;
		font-size: $font-base-size * 2.6;
	}
	@media (min-width: 1024px) {
		font-size: $font-base-backup-size;
		font-size: $font-base-size * 2;
	}
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}