.chat--callout {
	display: block;
	position: fixed;
	width: 100vw;
	max-width: 100%;
	cursor: pointer;

	padding: 6px $content-padding-x;
	background: linear-gradient(10deg, complement($color-main), darken(complement($color-main),15%));
	box-shadow: 1px 0px 19px 6px rgba(0, 0, 0, 0.4);

	bottom: 0px;
    left: 0px;
    z-index: 3000;
    overflow-x: hidden;

    // transform: translateY(100%);
    opacity: 0;
    transition: opacity 200ms;

    h3, p {
    	display: inline-block;
    	font-size: 4vw;
    	@media (min-width: 640px) and (max-width: 1024px) {
    		font-size: 3vw;
    	}
    	@media (min-width: 1025px) {
    		font-size: 2vw;
    	}
    }

    &.show {
    	// transform: translateY(0%);
    	opacity: 1;
    }

	.shrink {
		position: absolute;
	    top: 0px;
	    left: 20px;
	    padding: 0px;
	    margin: 10px 0px;
	}

	@media (max-width: 640px) {
    	width: 100%;
    }
}

.chat--box {
	position: fixed;
	bottom: 0px;
	left: 0px;

	width: 100%;
	height: 24vh;

	background-color: complement($color-font-main);
	border-top: 3px solid $color-alt;

	z-index: 2000;

	transform: translateY(100%);
	transition: transform 200ms;

	&.open {
		transform: translateY(0%);
	}

	.messages {
		padding: 10px $content-padding-x;
		max-height: 15vh;
		overflow-x: none;
		overflow-y: auto;
		
		p, input, .msg {
			color: invert($color-font-main);
		}
	}

	.message {
		white-space: no-wrap;
	}

	.speaker, .msg {
		white-space: normal;
		vertical-align: top;
	}

	.speaker {
		max-width: 20%;
	}

	.msg {
		max-width: 80%;
	}

	.ts {
		display: inline-block;
		font-size: $font-base-backup-size;
		font-size: $font-base-size;
		color: lighten(invert($color-font-main),10%);
	}

	.speaker, .msg {
		display: inline-block;

	}

	.input-row {
		border-top: 2px solid #222;
	}

	button {
		color: invert($color-font-main);
	}

	.btn.shrink {
	    position: absolute;
	    left: 0px;
	    top: 0px;
	    margin: 4px;
	    padding: 0.1em;
	    font-size: 0.75em;
	    z-index: 2200;
	}

	input {
		width: 86%;
	    height: 100%;
	    font-size: 1em;
	    padding-left: 5%;
	    color: invert($color-font-main);
	    @media (max-width: 640px) {
	    	width: 76%;
	    }
	}

	.userInfo {
		width: 100%;

		form {
			width: 60%;
			margin: 0 auto;
		}
		input { 
			display: inline-block;
    		padding: 0;
    		margin: 5px auto;
		}
		.fields, .btn {
			vertical-align: middle;
		}
		.fields {
			width: auto;
    		display: inline-block;
    		margin: 0 auto;
		}
		.btn {
			margin: 0 auto;
		}
	}

}