extends ../layout/default.pug

block content

	section.section--info
		.wrap--content
			h2 Thingus &lt;N&gt;

			p.featured
				| Vinyls consectetur next level vaporware, dolore before they sold out cred 3 wolf moon laboris forage. Accusamus drinking vinegar dolore, etsy +1 tousled adipisicing gentrify in. Pabst incididunt ugh aliquip fixie, succulents aute est sunt. Hella fashion axe plaid normcore, esse tbh ugh lo-fi intelligentsia fanny pack nulla. Sustainable viral eu aliquip, before they sold out lyft yr mollit ut accusamus. Craft beer offal forage, occaecat fam typewriter locavore minim seitan velit. Beard vegan small batch, helvetica asymmetrical ugh bicycle rights hexagon venmo mollit.

	section.section--breakdown.animate-chat-callout
		.wrap--content
			.container
				.third
					h3 Foo
					p Copper mug ramps squid skateboard nesciunt. Quinoa seitan quis drinking vinegar pork belly, kogi commodo. 
				.third
					h3 Bar
					p Synth thundercats cornhole, disrupt pickled keytar lyft post-ironic. Aute pariatur odio sapiente portland bitters, VHS woke disrupt labore hashtag. 
				.third
					h3 Baz
					p Austin aute selvage health goth twee edison bulb cillum. Et la croix lomo snackwave, aliqua artisan twee do normcore chia. Artisan est occaecat pug meggings, authentic pinterest ramps tousled hashtag plaid meh.
