extends ../layout/default.pug

block content

	section.section--info(scroll-to-show,data-sel=".chat--callout",data-showclass="show")
		.wrap--content
			h2 Questions?

			p Beard vegan small batch, helvetica asymmetrical ugh bicycle rights hexagon venmo mollit.

			//- if rep is online, add a chat callout with an ng-click here to the body

			
