extends ../layout/default.pug

block content

	section.section--top
		.wrap--content
			h1 THINGY
			h4 Sleek, clean, generic.
			h4 Introducing our latest Thingus&trade; ever...
			a.btn(href="about.html") Let's Go
		.skew--left
		.skew--right
	
	section.section--blurb.alt.animate-chat-callout
		.wrap--content
			h2 Blurb
			p Direct trade blog intelligentsia mollit sustainable cold-pressed. Fanny pack paleo irony meditation dolore, enamel pin whatever non occaecat letterpress. Taxidermy post-ironic scenester +1, kale chips veniam blog listicle raclette williamsburg aliquip sriracha direct trade everyday carry. Pour-over selvage elit ugh subway tile proident ethical next level.