.chat--callout(ng-click="initChat()",ng-show="!showChatbox")
	h3 Questions?
	p(ng-show="!chatInProgress") Chat with a trained tech!
	p(ng-show="chatInProgress") Click to open chat...

.chat--box(ng-controller="ChatController as chat",ng-show="showChatbox",ng-class="{'open':showChatbox}")
	.btn.shrink(ng-click="toggleChatbox()") Shrink
	.wrap--content.userInfo(ng-show="!chatInProgress")
		form(name="userInfo" ng-submit="submitUserInfo()")
			.fields
				input(name="name" ng-model="user.name" required placeholder="Your Name")
				input(name="email" ng-model="user.email" required placeholder="Your E-mail" type="email")
			button.btn(type="submit") Let's Chat
			//-span(class="error" ng-show="myForm.input.$error.required") Required!
	.wrap--content(ng-show="chatInProgress")
		.messages
			.message
				p.speaker Messenger 
					span.ts (02:05pm)
					| :
				.msg sample message
			.message
				p.speaker Messenger 
					span.ts (02:05pm)
					| :
				.msg 
					| Taxidermy meggings gentrify, gluten-free unicorn schlitz lumbersexual. Williamsburg chicharrones vape sustainable, echo park wolf street art cupidatat fashion axe edison bulb celiac activated charcoal hashtag tbh. Cillum biodiesel kale chips fugiat, in laborum dolore velit wayfarers retro accusamus PBR&B narwhal est portland. Deep v consectetur distillery franzen, literally meggings forage paleo small batch sed iceland. Literally hammock actually banjo. Pickled post-ironic 8-bit four dollar toast deep v, vero tacos nisi man braid sunt. Locavore sartorial gastropub, next level everyday carry cardigan occaecat.

					| Exercitation portland offal lo-fi culpa chia. Banh mi deserunt forage, pug whatever bitters stumptown tumblr godard mixtape poke fixie paleo. Ethical hammock 8-bit, cornhole enim cardigan gluten-free pabst edison bulb intelligentsia aesthetic. Ut pinterest nostrud, accusamus hoodie offal forage. Chartreuse farm-to-table cold-pressed, aliquip tousled deserunt enamel pin letterpress dolore est snackwave actually. Humblebrag 8-bit do freegan, ugh activated charcoal forage bitters raw denim sed. Edison bulb scenester irony twee.
			.message
				p.speaker Messenger 
					span.ts (02:05pm)
					| :
				.msg sample message
			.message
				p.speaker Messenger 
					span.ts (02:05pm)
					| :
				.msg sample message
			.message
				p.speaker Messenger 
					span.ts (02:05pm)
					| :
				.msg sample message
			.message
				p.speaker Messenger 
					span.ts (02:05pm)
					| :
				.msg sample message
			.message
				p.speaker Messenger 
					span.ts (02:05pm)
					| :
				.msg sample message
			
		.input-row
			form(name="message" ng-submit="submitMessage")
				input(type="text" name="msg" ng-model="currentMsg" placeholder="Type a message, hit Enter to send" required)
				button(type="submit") Send