footer
	.wrap--content
		.container
			.half
				p Thingy, Inc.
				p 123 FooBar Ave.
				p Farmingdale, NJ 07070
			.half
				nav
					ul
						li
							a(href="/") Home
						li
							a(href="/about") About
						li
							a(href="/contact") Contact
						li
							a(href="/login") Rep Login