footer
	.wrap--content
		.container
			.half
				p Thingy, Inc.
				p 123 FooBar Ave.
				p Farmingdale, NJ 07070
			.half.right
				nav
					ul
						li
							a(href="index.html") Home
						li
							a(href="about.html") About
						li
							a(href="contact.html") Contact
						li
							a(href="login.html") Rep Login